@import "../../../../styles/index";

@mixin theme-mixin($light-theme: true) {
  $bg-color: $white-background;
  $shadow: $card-shadow;
  $font: $primary-font-color;
  @if $light-theme != true {
    $bg-color: $dark-secondary-background;
    $shadow: $dark-card-shadow;
    $font: $dark-primary-font-color;
  }
  button {
    overflow: hidden;
    border-radius: 10px;
    background-color: $bg-color !important;
    box-shadow: 0px 1px 3px 0px $shadow !important;
    transition: 0.2s ease-in-out;
    color: $font;
    &:hover {
      box-shadow: 0px 3px 3px 1px $shadow !important;
      background-color: lighten($bg-color, 3%) !important;
    }
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
