<div fxLayout="column" fxLayoutGap="20px">
  <div
    *ngIf="localCoins?.length > 0 && !loading; else loader"
    class="{{ theme }} theme-container"
    fxLayout="column"
    fxLayoutGap="20px"
  >
    <div *ngFor="let coin of localCoins.slice(0, count)">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div matTooltip="Add {{ coin.CoinInfo.Name }} to favorites ">
          <button (click)="toggleFavorite(coin)" class="fav-button">
            <i
              [ngClass]="{
                'heart-icon bi bi-heart-fill': coin.FAVORITE,
                'text-very-faint bi bi-heart': !coin.FAVORITE
              }"
            ></i>
          </button>
        </div>
        <button aTilt [tiltSettings]="tileSettings" (click)="openBottomSheet(coin)" class="coin-button p-0 w-100">
          <app-coin-item [coin]="coin" [theme]="theme"></app-coin-item>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="{{ theme }} theme-container" fxLayout="column">
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
    <button mat-flat-button class="p-0 w-100 mb-4" [ngStyle]="{ height: '78px' }">
      <app-coin-item-loader></app-coin-item-loader>
    </button>
  </div>
</ng-template>
