@import "../../../../styles/index";

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 15px 15px;
}

td,
th {
  font-weight: bold !important;
  font-size: 0.95rem !important;
}

tr.mat-header-row {
  height: 56px;
  position: sticky;
  top: 115px;
  background: #f3f3f3;
  z-index: 1;
}

tr.mat-row,
tr.mat-footer-row {
  height: 48px;
  background: #f9f9f9;
  transition: 0.09s ease-in-out;
}

tr.mat-row:hover {
  background: white;
}

.mat-table {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  background-color: transparent;
  tbody {
    background-color: #ffffff73 !important;
  }
}

.mat-paginator {
  background: transparent;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgb(123 123 123 / 12%);
  border-right-color: rgb(123 123 123 / 12%);
  border-left-color: rgb(123 123 123 / 12%);
}

.coin-name {
  font-size: 0.95rem;
}
.img-container {
  height: 28px;
  width: 28px;
}

.loader-container{
  height: calc(100vh - 225px);
}
