@import "../../../../styles/index";

// table dimension styling
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 15px 15px;
}

th.mat-header-cell {
  text-align: left;
  z-index: 2 !important;
  white-space: nowrap;
}

td,
th {
  font-weight: bold !important;
  font-size: 0.95rem !important;
}

.mat-table {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background-color: transparent;
}

.mat-paginator {
  background: transparent;
}

.coin-name {
  // font-size: 0.95rem;
  font-size: 1.05rem;
  font-weight: 800;
}
.img-container {
  height: 28px;
  width: 28px;
}
.fav-button {
  background-color: transparent !important;
  font-size: 0.9rem;
  border-radius: 100%;
  .heart-icon {
    color: #dc3545;
  }
}

.loader-container {
  height: calc(100vh - 313px);
}

@mixin theme-mixin($light-theme: true) {
  $bg-color: $table-bg-color;
  $header-bg-color: $primary-background;
  $font: $primary-font-color;
  $border: darken($primary-border-light, 5%);
  @if $light-theme != true {
    $bg-color: $dark-secondary-background;
    $header-bg-color: $dark-body-background;
    $font: $dark-primary-font-color;
    $border: lighten($dark-primary-border-dark, 45%);
  }
  .chip-list-container {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    overflow: hidden;
    padding: 3px 0px;
    position: sticky;
    top: 55px;
    background: $header-bg-color;
    z-index: 9;
    ::ng-deep .slick-prev {
      left: 0px !important;
      padding: 10;
      z-index: 9;
      height: 100%;
      background: linear-gradient(90deg, darken($bg-color, 12%), transparent);
      width: 58px;
    }
    ::ng-deep .slick-disabled {
      display: none !important;
    }
    .filter-direction-container {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      .inactive-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .bi-arrow-up {
          // width: 100%;
          position: absolute;
          opacity: 0;
          // visibility: hidden;
        }
        .bi-dash {
          position: absolute;
        }
      }
    }

    mat-chip {
      cursor: pointer;
    }

    mat-chip:hover {
      .inactive-container {
        .bi-dash {
          opacity: 0;
          animation: hide-dash 0.2s;
        }
        .bi-arrow-up {
          animation: show-arrow 0.38s;
          top: 2px;
          opacity: 1;
        }
      }
    }
  }
  @keyframes hide-dash {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes show-arrow {
    0% {
      opacity: 0;
      top: 7px;
    }
    70% {
      opacity: 0;
      top: 7px;
    }
    100% {
      opacity: 1;
      top: 2px;
    }
  }
  .table-container {
    overflow: auto;
    border-top: 1px solid $border;
    mat-row,
    mat-header-row,
    mat-footer-row,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      border-bottom-color: $border;
      color: $font;
      max-width: 140px;
    }

    .table-height-calc {
      height: calc(100vh - 313px);
    }

    .sticky-column-header {
      z-index: 3 !important;
    }

    tr.mat-row,
    tr.mat-footer-row {
      height: 48px;
      background: $bg-color;
      transition: 0.09s ease-in-out;
      cursor: pointer;
    }

    tr.mat-row:hover {
      background: lighten($bg-color, 5%);
    }

    tr.mat-header-row {
      height: 56px;
      // position: sticky;
      top: 115px;
      background: $header-bg-color;
      z-index: 1;
    }
    ::ng-deep .mat-paginator-container {
      color: darken($font, 10%) !important;
      .mat-button-disabled {
        color: darken($font, 10%) !important;
        opacity: 0.4 !important;
      }
    }
  }
  ::ng-deep .owl-next {
    top: -11px;
    right: -1px;
    position: absolute;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    width: 35px;
    font-size: 20px;
    color: $font !important;
    background: linear-gradient(
      90deg,
      transparent,
      darken($bg-color, 3%),
      darken($bg-color, 3%),
      darken($bg-color, 3%)
    ) !important;
  }

  ::ng-deep .owl-prev {
    top: -11px;
    left: -10px;
    position: absolute;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    width: 35px;
    font-size: 20px;
    color: $font !important;
    background: linear-gradient(
      90deg,
      darken($bg-color, 3%),
      darken($bg-color, 3%),
      darken($bg-color, 3%),
      transparent
    ) !important;
  }

  ::ng-deep .disabled {
    display: none;
  }

  ::ng-deep .owl-carousel.owl-drag .owl-item {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .owl-carousel {
    padding: 0px 8px;
  }

  ::ng-deep .owl-theme .owl-nav {
    margin: 0px !important;
  }
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

// slick styling
// .slick-slide {
//   float: left;
//   height: 100%;
//   min-height: 1px;
//   display: none;
//   // width: auto !important;
// }

.slick-slide {
  width: auto !important;
}
