<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cardano" #input />
</mat-form-field>
<div>
  <table class="w-100" *ngIf="show; else loader" mat-table [dataSource]="dataSource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Coin</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="img-container">
            <img
              class="w-100 h-100"
              src="{{ element.imgUrl }}"
              (error)="element.imgUrl = element.prettyImg"
              alt="{{ element.name }} logo img"
            />
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <span class="coin-name">{{ element.name }}</span>
            <small class="fw-bold text-faint">{{ element.symbol }}</small>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="24h">
      <th mat-header-cell *matHeaderCellDef>24h %</th>
      <td mat-cell *matCellDef="let element">
        <span
          class="d-flex justify-content-start"
          [ngClass]="{
            'text-positive': element.returnPct24h > 0,
            'text-negative': element.returnPct24h < 0
          }"
        >
          <i *ngIf="element.returnPct24h > 0" class="bi bi-arrow-up-short"></i>
          <i *ngIf="element.returnPct24h < 0" class="bi bi-arrow-down-short"></i>
          {{ element.returnPct24h / 100 | percent: '0.1-2' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="amountChange24h">
      <th mat-header-cell *matHeaderCellDef>24h Change</th>
      <td mat-cell *matCellDef="let element">{{ element.return24h | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="volume24h">
      <th mat-header-cell *matHeaderCellDef>24h Volume</th>
      <td mat-cell *matCellDef="let element">{{ element.volume24h | number }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="marketcap">
      <th mat-header-cell *matHeaderCellDef>Market Cap.</th>
      <td mat-cell *matCellDef="let element">{{ element.mrktcap | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="supply">
      <th mat-header-cell *matHeaderCellDef>Supply</th>
      <td mat-cell *matCellDef="let element">
        {{ element.supply | number }}
        <small class="fw-bold text-faint">{{ element.symbol }}</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
    </ng-container>

    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef>24h Range</th>
      <td mat-cell *matCellDef="let element">
        <app-high-low-progress
          [showPercent]="false"
          [price]="element.price"
          [low24h]="element.low"
          [high24h]="element.high"
        ></app-high-low-progress>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<ng-template #loader>
  <div class="loader-container" fxLayout="row" fxLayoutAlign="center center">
    <app-loader-circle [text]="'Loading coins...'"></app-loader-circle>
  </div>
</ng-template>
