@import "../../../../styles/index";

// table dimension styling
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 15px 15px;
}

th.mat-header-cell {
  text-align: left;
  z-index: 2 !important;
}

td,
th {
  font-weight: bold !important;
  font-size: 0.95rem !important;
}



.mat-table {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  background-color: transparent;
}

.mat-paginator {
  background: transparent;
}

.coin-name {
  font-size: 0.95rem;
}
.img-container {
  height: 28px;
  width: 28px;
}
.fav-button {
  background-color: transparent !important;
  font-size: .9rem;
  border-radius: 100%;
  .heart-icon {
    color: #dc3545;
  }
}


.loader-container{
  height: calc(100vh - 255px);
}

@mixin theme-mixin ($light-theme: true){
  $bg-color: $table-bg-color;
  $header-bg-color: $primary-background;
  $font: $primary-font-color;
  $border: $primary-border-light;
  @if $light-theme != true {
    $bg-color: $dark-secondary-background;
    $header-bg-color: $dark-body-background;
    $font: $dark-primary-font-color;
    $border: $dark-primary-border-dark;
  }
  overflow: auto;
  height: calc(100vh - 255px);
  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-color: $border;
    color: $font;
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: 48px;
    background: $bg-color;
    transition: 0.09s ease-in-out;
    cursor: pointer;
  }

  tr.mat-row:hover {
    background: lighten($bg-color, 5%);
  }

  tr.mat-header-row {
    height: 56px;
    // position: sticky;
    top: 115px;
    background: $header-bg-color;
    z-index: 1;
  }
  ::ng-deep .mat-paginator-container{
    color: darken($font, 10%) !important;
    .mat-button-disabled{
      color: darken($font, 10%) !important;
      opacity: .4 !important;
    }
  }
}

.theme-container{
  @include theme-mixin($light-theme: true);
}
.dark.theme-container{
  @include theme-mixin($light-theme: false);
}
