@import "../../../../styles/index";

.fs-search-container {
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7 !important;
}

.card-body {
  font-family: "Manrope", sans-serif !important;
  .top-coins-container {
    padding: 15px;
  }
}
