@import "../../../../styles/index";

@mixin theme-mixin($light-theme: true) {
  $brightness: 0.96;
  $font: $primary-font-color;
  $text-shadow: $primary-text-shadow;

  @if $light-theme != true {
    $brightness: 0.8;
    $font: $dark-primary-font-color;
    $text-shadow: $primary-text-shadow;
  }
  ::ng-deep .popover-body {
    max-height: 60vh;
    min-height: 100px;
    overflow: hidden;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0px 1px 6px 2px #80808026;
    border-radius: $default-brdr-radius;
  }
  ::ng-deep .popover .arrow {
    display: none;
  }

  ::ng-deep .popover {
    width: 295px;
    max-width: 295px;
    position: absolute;

    .search-result-button {
      max-height: 80px;
      border: none;
      background-color: transparent;
      font-weight: 500;
    }
  }

  ::ng-deep popover-container {
    top: 5px !important;
    left: -35px !important;
  }

  .img-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 32px;
      height: 32px;
    }
  }

  .search-bar {
    border-radius: 13px;
    overflow: visible;
    backdrop-filter: brightness($brightness);
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    .search-input {
      height: auto !important;
      background-color: transparent;
    }
    .icon-container {
      background-color: transparent;
    }
    &:hover {
      transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      backdrop-filter: brightness(1);
      box-shadow: 0px 0px 5px 1px #8080802e;
    }
    input {
      width: 20vw;
      max-width: 800px;
      // &:focus {
      //   ::ng-deep {
      //     .search-bar {
      //       width: 3005px !important;
      //     }
      //   }
      // }
    }
  }
  button {
    border-radius: 0.5rem;
    opacity: 0.7;
    color: $font;
    i {
      font-size: 20px;
    }
    &.active {
      color: $primary-color !important;
      opacity: 1;
      text-shadow: 0 0 11px $text-shadow;
    }
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
