<div class="{{ theme }} theme-container px-4 py-2 " fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h5 class="fw-bold d-flex align-items-center mb-0">
      <i class="heart-icon bi bi-heart-fill me-2"></i>
      Favorite Coins
    </h5>
    <div>
      <span class="badge badge-{{ theme }}">{{ favoriteCoins?.length || 0 }} Favorites</span>
    </div>
  </div>
  <div *ngIf="!!favoriteCoins" fxLayout="column" fxLayoutGap="15px">
    <div *ngFor="let favorite of favoriteCoins">
      <app-favorite-coin-item
        [theme]="theme"
        (removeFavOutput)="removeFavorite($event)"
        [coin]="favorite"
      ></app-favorite-coin-item>
    </div>
  </div>
</div>
