@import "src/theme/theme-variables";
@import "../../styles/index";
:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}
h1 {
  text-shadow: 0 0 14px #4e4e4e6b;
  font-family: "Righteous", cursive;
  color: white;
  z-index: 9;
}
.large-brand {
  font-size: 12rem;
}
.small-brand {
  font-size: 7.5rem;
}
.xs-brand {
  font-size: 4.5rem;
}

h5 {
  color: white;
  font-weight: 100;
  text-shadow: 0 0 14px #4e4e4e6b;
  font-family: "Manrope", sans-serif;
}
.large-subtext {
  font-size: 2.5rem;
}
.small-subtext {
  font-size: 1.8rem;
}
.xs-subtext {
  font-size: 1.35rem;
}
.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}

.login-wrapper {
  height: 100vh !important;
}

.branding-container {
  position: relative;
  // background-image: linear-gradient(136deg, #6b42ff, #9980f9);
  background-image: radial-gradient(#9980f9, #6b42ff);
  .brand-inner-container {
    backdrop-filter: blur(12px) brightness(0.95) contrast(1.2);
    border-top: 1px solid rgba(228, 228, 228, 0.22);
    border-bottom: 1px solid rgba(228, 228, 228, 0.22);
    padding: 66px 0px;
  }
  ::ng-deep canvas {
    position: absolute !important;
  }
}

.login-box {
  // height: 455px;
  overflow: hidden;
  border-radius: 20px;
  width: 100% !important;
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgb(195 195 195 / 57%) !important;
  color: #151515;
  .divider-text {
    z-index: 1;
  }
  img {
    height: 20px;
    width: 20px;
  }
}
