<div fxFill fxLayout="row">
  <div fxFlex="65" fxFlex.lt-lg="55" fxHide.lt-md fxLayoutAlign="center center" class="branding-container">
    <!-- <div class="w-100"> -->
    <!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
    <!-- </div> -->
    <div class="w-100 h-100 position-absolute">
      <ng-particles
        class="w-100 h-100 position-absolute"
        [id]="id"
        [options]="particlesOptions"
        (particlesLoaded)="particlesLoaded($event)"
        (particlesInit)="particlesInit($event)"
      ></ng-particles>
    </div>
    <div [@fadeIn] *ngIf="showBrand" class="brand-inner-container w-100 d-flex justify-content-center">
      <div fxLayout="column" class="align-items-center">
        <h1 fxLayoutAlign="center" translate>APP_NAME</h1>
        <h5>Explore coins. Learn something new.</h5>
      </div>
    </div>
  </div>
  <div
    fxFill
    fxLayout="column"
    fxFlex="35"
    fxFlex.lt-lg="45"
    fxFlex.lt-md="100"
    [ngClass.lt-md]="'branding-container'"
    fxLayoutAlign="center center"
    fxLayoutGap="1.5rem"
    class="mat-typography"
  >
    <div fxHide.gt-sm>
      <h1 fxLayoutAlign="center" translate>APP_NAME</h1>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
        <h4 class="version">v{{ version }}</h4>
        <app-language-selector></app-language-selector>
      </div>
    </div>
    <div class="login-container" fxLayout="row" fxLayoutAlign="center">
      <mat-card fxFlex="100%" class="login-box m-5 pb-5">
        <form (ngSubmit)="login('email')" [formGroup]="loginForm" novalidate>
          <div class="login-error" [hidden]="!error || isLoading" translate>Username or password incorrect.</div>
          <br />
          <div class="login-fields" fxLayout="column">
            <mat-form-field [hideRequiredMarker]="true">
              <input
                type="text"
                matInput
                formControlName="username"
                autocomplete="username"
                [placeholder]="'Username' | translate"
                required
              />
              <mat-error *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">
                <span translate>Username is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="true">
              <input
                type="password"
                matInput
                formControlName="password"
                autocomplete="current-password"
                [placeholder]="'Password' | translate"
                required
              />
              <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                <span translate>Password is required</span>
              </mat-error>
            </mat-form-field>
            <mat-slide-toggle color="primary" formControlName="remember" translate>Remember me</mat-slide-toggle>
            <br />
            <button
              class="btn btn-primary"
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="loginForm.invalid || isLoading"
            >
              <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
              <span translate>Login</span>
            </button>
            <div>
              <button class="btn btn-success w-100" mat-flat-button>Join Coinfloe</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
