@import "../../../../../styles/index";

@mixin theme-mixin($light-theme: true) {
  $bg-color: transparent;
  $border: $header-border;
  @if $light-theme != true {
    $bg-color: transparent;
    $border: $dark-header-border;
  }

  height: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-right: 1px solid $border;
  label {
    font-size: 0.85rem;
    margin-bottom: 0px;
  }
  .img-container {
    height: 15px;
    width: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  small {
    font-weight: bold;
  }
}

.theme-container {
  @include theme-mixin($light-theme: true);
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}
