<div *ngIf="!!globalData && !!globalMetrics && !!tradingSignals" class="{{ theme }} theme-container text-start my-4">
  <div fxLayout="row">
    <h4 class="d-flex flex-wrap fw-normal">
      Today's market cap is <b class="mx-2">${{ globalData.quote.USD.total_market_cap | shortNumber }}</b>
      <small
        class="fw-bold d-flex align-items-center"
        [ngClass]="{
          'text-positive': globalMetrics.market_cap_change_percentage_24h_usd > 0,
          'text-negative': globalMetrics.market_cap_change_percentage_24h_usd < 0
        }"
      >
        <i *ngIf="globalMetrics.market_cap_change_percentage_24h_usd > 0" class="bi bi-arrow-up-short"></i>
        <i *ngIf="globalMetrics.market_cap_change_percentage_24h_usd < 0" class="bi bi-arrow-down-short"></i>
        {{ globalMetrics.market_cap_change_percentage_24h_usd | number: '1.0-2' }}%
      </small>
    </h4>
  </div>
  <div fxLayout="row" fxLayoutGap="35px" class="position-relative">
    <owl-carousel-o
      #owlCar
      class="w-100"
      [options]="customOptions"
      (changed)="startPosition = $event.startPosition"
      (dragging)="isDragging = $event.dragging"
    >
      <!-- <ng-template fxHide.lt-md [width]="90" carouselSlide>
      </ng-template> -->
      <ng-template [width]="345" carouselSlide>
        <app-gauge
          [theme]="theme"
          [color]="'#ff9400'"
          [icon]="'bitcoin'"
          [title]="'BTC Dominance'"
          [desc]="'BTC percentage of total market cap'"
          [currentValue]="globalData.btc_dominance"
        ></app-gauge>
      </ng-template>
      <ng-template [width]="345" carouselSlide>
        <app-gauge
          [theme]="theme"
          [color]="'#414977'"
          [icon]="'ethereum'"
          [title]="'ETH Dominance'"
          [desc]="'ETH percentage of total market cap'"
          [currentValue]="globalData.eth_dominance"
        ></app-gauge>
      </ng-template>
      <!-- <ng-template [width]="345" carouselSlide>
        <app-multi-gauge [theme]="theme"></app-multi-gauge>
      </ng-template> -->
    </owl-carousel-o>
    <div
      *ngIf="startPosition != 0"
      class="d-flex justify-content-center align-items-center"
      [ngClass]="'owl-fade-left'"
    >
      <button mat-icon-button class="btn owl-dir-button" (click)="owlCar.prev()">
        <i class="bi bi-chevron-left"></i>
      </button>
    </div>
    <div class="d-flex justify-content-center align-items-center" [ngClass]="'owl-fade-right'">
      <button mat-icon-button class="btn owl-dir-button" (click)="owlCar.next()">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
  <!-- <div class="mt-1" fxLayout="row wrap" fxLayoutGap="25px">
    <div fxLayout="column" class="py-3 pe-3 ps-0 justify-content-between align-items-start stat-card">
      <div class="d-flex align-items-center mb-1">
        <fa-icon [icon]="['fab', 'bitcoin']" class="btc-icon"></fa-icon>
        <small class="text-faint ms-2 fw-bold">BTC Dominance</small>
      </div>
      <h5>
        <b>{{ globalData.btc_dominance | number: '1.0-2' }}%</b>
      </h5>
    </div>
    <div fxLayout="column" class="py-3 pe-3 ps-0 justify-content-between align-items-start stat-card">
      <div class="d-flex align-items-center mb-1">
        <fa-icon [icon]="['fab', 'ethereum']" class="eth-icon"></fa-icon>
        <small class="text-faint ms-2 fw-bold">ETH Dominance</small>
      </div>
      <h5>
        <b>{{ globalData.eth_dominance | number: '1.0-2' }}%</b>
      </h5>
    </div>
    <div fxLayout="column" class="py-3 pe-3 ps-0 justify-content-between align-items-start stat-card">
      <div class="d-flex align-items-center mb-1">
        <fa-icon
          *ngIf="tradingSignals.inOutVar.sentiment === 'bullish'"
          [icon]="['fas', 'smile-beam']"
          class="happy-icon"
        ></fa-icon>
        <fa-icon
          *ngIf="tradingSignals.inOutVar.sentiment === 'bearish'"
          [icon]="['fas', 'sad-tear']"
          class="sad-icon"
        ></fa-icon>
        <fa-icon
          *ngIf="tradingSignals.inOutVar.sentiment === 'neutral'"
          [icon]="['fas', 'sad-tear']"
          class="sad-icon"
        ></fa-icon>
        <small class="text-faint ms-2 fw-bold">BTC Sentiment</small>
      </div>
      <h5 class="text-capitalize">
        <b>{{ tradingSignals.inOutVar.sentiment }}</b>
      </h5>
    </div>
    <div fxLayout="column" class="py-3 pe-3 ps-0 justify-content-between align-items-start stat-card">
      <div class="d-flex align-items-center mb-1">
        <fa-icon [icon]="['fas', 'laptop-code']" class="code-icon"></fa-icon>
        <small class="text-faint ms-2 fw-bold">Active Projects</small>
      </div>
      <h5>
        <b>{{ globalData.active_cryptocurrencies | number }}</b>
      </h5>
    </div>
  </div> -->
</div>
