@import "../../../../styles/index";

::ng-deep .mat-chip-list-wrapper {
  padding: 5px;
}

.visible {
  opacity: 1;
  animation: showChart 1s;
}

.hidden {
  // visibility: hidden;
  opacity: 0;
}

.loader-container {
  top: 0px;
  left: 0px;
  height: 450px;
  width: 100%;
}

@keyframes showChart {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin theme-mixin($light-theme: true) {
  $alt-btn-bg: $alt-btn-background;
  $font: $primary-font-color;
  @if $light-theme == false {
    $alt-btn-bg: $dark-alt-btn-background;
    $font: $dark-primary-font-color;
  }
  .chart-price {
    position: absolute !important;
    top: 60px;
    left: 10px;
  }
  .mat-chip.mat-standard-chip {
    background-color: $alt-btn-bg !important;
    color: $font;
  }
  .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #ff4265 !important;
    color: white;
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.light.theme-container {
  @include theme-mixin($light-theme: true);
}
