<div fxLayout="column" class="{{ theme }} theme-container" class="position-relative">
  <div fxLayout="column" class="chart-price">
    <small class="text-faint mb-1">USD</small>
    <h6 id="hoverprice" class="mb-3 mt-0 fw-bold"></h6>
  </div>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip (click)="setActiveChip(chip)" *ngFor="let chip of chipList" [selected]="selectedChip === chip">{{
      chip.label
    }}</mat-chip>
    <!-- <mat-chip [selected]="true">5y</mat-chip> -->
  </mat-chip-list>
  <div class="position-relative" style="height: 450px; width: 100%">
    <div
      [ngClass]="{ visible: show, hidden: !show }"
      #cryptochart
      id="cryptochart"
      class="w-100"
      (window:resize)="resize()"
    ></div>
    <div
      *ngIf="!show"
      [@fadeInOnEnter]
      [@fadeOutOnLeave]
      class="d-flex justify-content-center align-items-center position-absolute loader-container"
    >
      <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="false">
      <p style="color: white">Loading...</p>
    </ngx-spinner> -->
      <app-loader-circle></app-loader-circle>
    </div>
  </div>
</div>
