<div *ngIf="!!coin" fxLayout="row" class="{{ theme }} theme-container" fxLayoutAlign="space-between center">
  <button
    (click)="openBottomSheet(coin)"
    aTilt
    [tiltSettings]="tileSettings"
    fxFlex="auto"
    mat-flat-button
    class="px-3 py-2 favorite-item-container"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="40px">
          <div class="img-container">
            <img [src]="imgURL" />
          </div>
        </div>
        <div>
          <app-high-low-progress></app-high-low-progress>
        </div>
        <div fxLayout="column" class="text-start">
          <label class="fw-bold">{{ coin.CoinInfo.FullName || 'Unknown' }}</label>
          <div fxLayout="row" fxLayoutGap="10px">
            <small class="fw-bold text-faint">{{ coin.CoinInfo.Name || 'NA' }}</small>
            <div class="badge badge-light d-flex justify-content-center align-items-center">
              <small class="fw-bold">#1</small>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" class="text-end">
          <label class="fw-bold price-label">{{ coin.RAW.USD.PRICE || 0 | currency }}</label>
          <small
            class="d-flex justify-content-end fw-bold"
            [ngClass]="{
              'text-positive': coin?.RAW?.USD?.CHANGEPCT24HOUR > 0,
              'text-negative': coin?.RAW?.USD?.CHANGEPCT24HOUR < 0
            }"
          >
            <i *ngIf="coin?.RAW?.USD?.CHANGEPCT24HOUR > 0" class="bi bi-arrow-up-short"></i>
            <i *ngIf="coin?.RAW?.USD?.CHANGEPCT24HOUR < 0" class="bi bi-arrow-down-short"></i>
            {{ coin?.RAW?.USD?.CHANGEPCT24HOUR / 100 | percent: '0.1-2' }}
          </small>
        </div>
      </div>
    </div>
  </button>
  <div fxFlex="25px">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
      <mat-icon class="more-icon">more_vert</mat-icon>
    </button>
    <mat-menu class="{{ theme }}" #menu="matMenu">
      <button (click)="removeFav(coin)" mat-menu-item>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <i class="bi bi-heart"></i>
          <b>Remove</b>
        </div>
      </button>
      <button (click)="openBottomSheet(coin)" mat-menu-item>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <i class="bi bi-binoculars"></i>
          <b>View</b>
        </div>
      </button>
    </mat-menu>
  </div>
</div>
