@import "../../../../../styles/index";

@mixin theme-mixin($light-theme: true){
  $bg-color: $primary-background;
  $border: $primary-border-light;
  $border-dark: $border-darkest;
  $font: $primary-font-color;
  $secondary-font: $secondary-font-color;
  @if $light-theme !=true {
    $bg-color: $dark-primary-background;
    $border: $dark-primary-border-dark;
    $border-dark:  $dark-primary-border-dark;
    $font: $dark-primary-font-color;
    $secondary-font: $dark-text-color;
  }
  .info-header{
    color: $secondary-font;
    opacity: .7;
  }
  .info-title{
    color:  $secondary-font;
    font-weight: 800;
  }
  .info-data{
    font-weight: 800;
  }
  .mini-widget-container{
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background: $bg-color;
  }
}

.theme-container{
  @include theme-mixin($light-theme: true);
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}
