// UNIVERSAL VARIABLES
$primary-color: #ff2150;

// BACKGROUNDS
$dark-primary-background-darker: #f0f0f0;
$dark-primary-background: #202026;
$dark-secondary-background: #212128;
$dark-body-background: #1a1a20;
$dark-header-translucent-background: #33333378;

// COLORS
$dark-mat-muted-icon: #888888;
$dark-text-color: #747474;
$dark-primary-font-color: #dcdcdc;
$dark-alternate-text-color: white;
$dark-desc-text-color: #848484;

// BORDERS
$dark-primary-border: #353535;
$dark-primary-border-dark: darken($dark-primary-border, 15%);
$dark-border-darkest: #b6b6b64a;
$dark-header-border: #80808014;

// SHADOWS
$dark-primary-shadow: #12121280;
$dark-primary-shadow-light: #0303032e;
$dark-primary-text-shadow: #9c122e;
$dark-card-shadow: #0000003b;
//=========================================================
