::ng-deep .text-positive {
  color: #00c77e !important;
}

::ng-deep .text-negative {
  color: #fd2d53 !important;
}

::ng-deep .slick-prev:before {
  color: #4d4d4d42 !important;
}

::ng-deep .slick-next:before {
  color: #4d4d4d42 !important;
}

::ng-deep .btn-primary {
  color: #fff;
  background-color: #6b42ff !important;
  border-color: #6b42ff !important;
  border-radius: 0.85rem !important;
}
