@import "./light-variables";

::ng-deep .text-positive {
  color: #00c77e !important;
}

::ng-deep .text-negative {
  color: #fd2d53 !important;
}

::ng-deep .slick-prev:before {
  color: #4d4d4d42 !important;
}

::ng-deep .slick-next:before {
  color: #4d4d4d42 !important;
}

::ng-deep .btn-primary {
  color: #fff;
  background-color: #6b42ff !important;
  border-color: #6b42ff !important;
  border-radius: 0.85rem !important;
}

::ng-deep .btn {
  border-radius: 0.85rem !important;
  font-weight: bold !important;
}

::ng-deep .btn-success {
  color: #fff;
  background-color: #09c133 !important;
  border-color: #09c133 !important;
}

::ng-deep .badge {
  font-weight: 800 !important;
  border-radius: 6px !important;
  padding: 0.25rem 0.4rem !important;
}

::ng-deep .badge-success {
  color: #00801d !important;
  background-color: #45ff7029 !important;
}

::ng-deep .dark.badge-success {
  color: #00d070 !important;
  background-color: #14622629 !important;
}

::ng-deep .badge-danger {
  color: #ce030f !important;
  background-color: #ffbfcb4d !important;
}

::ng-deep .dark.badge-danger {
  color: #f53c47 !important;
  background-color: #833e4b4d !important;
}

::ng-deep .badge-info {
  color: #008398 !important;
  background-color: #17a2b821 !important;
}

::ng-deep .badge-light {
  color: #212529 !important;
  background-color: #ececec !important;
}

::ng-deep .mat-bottom-sheet-container {
  max-height: none !important;
  padding: 0px !important;
}

::ng-deep .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: $primary-color !important;
  color: white;
}

::ng-deep .mat-standard-chip {
  font-weight: bold !important;
}

::ng-deep .mat-tab-label {
  opacity: 1 !important;
}

::ng-deep .mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none !important;
}

::ng-deep .mat-ink-bar {
  transition: 275ms cubic-bezier(0.35, 0, 0.25, 1) !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #2b2b2b !important;
}

::ng-deep .dark.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #c1c1c1 !important;
}

::ng-deep .dark.mat-menu-panel {
  background-color: #16161b !important;
  button {
    color: #dcdcdc !important;
  }
}

::ng-deep .mat-menu-panel {
  background-color: white !important;
}

::ng-deep .mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.desc-text{
  font-size: .8rem;
}

::ng-deep .hide-content{
  animation: hide-content .15s;
  opacity: 0;
}

@keyframes hide-content {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


// owl carousel
::ng-deep .owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: 0px;
  width: calc(100% + 84px);
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -40px;
  z-index: -1;
}

::ng-deep .owl-theme .owl-nav .disabled {
  cursor: default;
  visibility: hidden;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
  width: 8px !important;
  height: 8px !important;
  background: #5f5f5f40 !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #4e4e4e !important;
}

::ng-deep .owl-next{
  background-color:  #98989847 !important;
  font-weight: bold !important;
  color: #000000 !important;
  font-size: 1.15rem !important;
}

::ng-deep .owl-prev{
  background-color:  #98989847 !important;
  font-weight: bold !important;
  color: #000000 !important;
  font-size: 1.15rem !important;
}

::ng-deep .owl-carousel .owl-stage {
 padding: 10px 0px;
}


::ng-deep .owl-carousel .owl-stage-outer {
    overflow: visible;
}

::ng-deep .owl-fade-left-xl {
  height: 100%;
  width: 112px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(
90deg, #f3f3f3, #f3f3f3, transparent);
  z-index: 3;
  color: transparent;
}

::ng-deep .owl-fade-right-xl {
  height: 100%;
  width: 112px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: linear-gradient(
90deg, transparent, #f3f3f3, #f3f3f3);
  z-index: 3;
  color: transparent;
}

::ng-deep .owl-fade-left {
  height: 100%;
  width: 6em;
  position: absolute;
  left: -3rem;
  top: 0px;
  background: linear-gradient(
90deg,#f3f3f3,#f3f3f3,rgba(255, 255, 255, 0));
  z-index: 3;
  color: transparent;
  padding: 0px 10px;
}

::ng-deep .owl-fade-right {
  height: 100%;
  width: 6em;
  position: absolute;
  right: -3rem;
  top: 0px;
  background: linear-gradient(
90deg,rgba(255, 255, 255, 0),#f3f3f3,#f3f3f3);
  z-index: 3;
  color: transparent;
  padding: 0px 10px;
}

::ng-deep .owl-dir-button {
  width: 35px !important;
  height: 35px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

//owl carousel -- DARK
::ng-deep .dark .owl-theme .owl-dots .owl-dot span {
  width: 8px !important;
  height: 8px !important;
  background: #4f4f54!important;
}

::ng-deep .dark .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #bcbcbd !important;
}

::ng-deep .dark .owl-fade-right {
  background: linear-gradient(90deg,rgba(255,255,255,0),#1a1a20,#1a1a20);
}

::ng-deep .dark .owl-fade-left {
  background: linear-gradient(90deg,#1a1a20,#1a1a20, rgba(255,255,255,0));
}

// carousel sizing
// .owl-width-xl{
//   width: calc(100% + 6em)!important;
//   margin-left: -3em!important;
// }
