<div class="{{ theme }} theme-container">
  <div class="card border-0 justify-content-between" fxLayout="column">
    <div class="d-flex">
      <div class="gravatar d-flex align-items-center">
        <ngx-skeleton-loader appearance="circle" [theme]="{ width: '40px', height: '40px' }"> </ngx-skeleton-loader>
      </div>
      <div class="gravatar-title d-flex align-items-center">
        <div class="text-left">
          <div>
            <ngx-skeleton-loader
              [theme]="{
                width: '75px',
                'border-radius': '6px',
                height: '15px',
                'margin-bottom': '10px'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div fxLayout="column" class="text-left px-3 mb-3">
      <ngx-skeleton-loader [theme]="{ width: '175px', 'border-radius': '6px', height: '15px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '175px', 'border-radius': '6px', height: '15px' }"></ngx-skeleton-loader>
    </div>
  </div>
</div>
