@import "../../../../styles/index";

.card {
  background: transparent !important;
  .coin-name {
    font-weight: bold;
    font-size: 1rem;
  }
}
.img-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 30px;
    height: 30px;
  }
}
