@import "../../../../styles/index";

.mat-progress-bar {
  border-radius: 50px !important;
  height: 3px !important;
}
// label {
//   font-size: 0.92rem;
// }
.small-label{
  font-size: .85rem;
}
.large-label{
  font-size: .95rem;
  font-weight: 800;
}
.progress-desc {
  font-size: 0.6rem;
}

@mixin progress-mixin($theme: positive) {
  $brand: $primary-color;
  @if $theme == negative {
    $brand: $dark-primary-color;
  }
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: $postive !important;
  }
  ::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e8e8 !important;
  }
}

.positive.progress-theme {
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: $postive !important;
  }
  ::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e8e8 !important;
  }
}
.negative.progress-theme {
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: $negative !important;
  }
  ::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e8e8 !important;
  }
}
.neutral.progress-theme {
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: $neutral !important;
  }
  ::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e8e8 !important;
  }
}
