/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  // font-family: "Roboto", sans-serif;
  // font-family: "Manrope", sans-serif;
  font-family: "Quicksand", sans-serif !important;
  overflow: hidden;
  font-size: 0.95rem !important;
  h1,
  h2,
  h3,
  p,
  li {
    opacity: 1;
    visibility: visible; /* Old IE */
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
  }
  label {
    font-weight: 600;
    opacity: 0.92;
  }
  h4 {
    font-weight: bold !important;
  }
}

::ng-deep .perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  background-color: transparent !important;
}

.text-faint {
  opacity: 0.7;
}

.text-very-faint {
  opacity: 0.5;
}

// icons
.heart-icon {
  color: #dc3545;
}

.hot{
  color: #ff3b00;
}

.cold{
  color: #4c94ff;
}

.award{
  color: #f9c508;
}
