<!-- <button (click)="show = !show">SHOW</button> -->
<div fxHide.lt-xl fxLayout="column" fxLayoutGap="25px" fxFill class="{{ theme }} nav-expanded theme-container p-4">
  <a fxHide.lt-md class="coinfloe-brand px-3" href="#" translate>APP_NAME</a>
  <nav class="nav" fxLayout="column" fxLayoutGap="5px">
    <div class="px-3">
      <small class="text-faint fw-bold mb-1">MENU</small>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <li *ngFor="let link of links" class="nav-item">
        <div>
          <button
            class="w-100"
            (click)="activeLink = link"
            routerLinkActive="active"
            routerLink="{{ link.route }}"
            mat-button
          >
            <span class="d-flex justify-content-start align-items-center text-capitalize">
              <span *ngIf="router.url !== link.route; else active">
                <i *ngIf="link.type != 'fa'" class="{{ link.icon_class }}"></i>
                <fa-icon *ngIf="link.type === 'fa'"  [icon]="['fas', 'coins']" class=""></fa-icon>
              </span>


              <ng-template #active>
                <i *ngIf="link.type==='bs'" class="{{ link.active_icon_class }}"></i>
                <fa-icon *ngIf="link.type === 'fa'" [icon]="['fas', 'coins']" class="btc-icon"></fa-icon>
              </ng-template>
              <span class="ms-2 mb-0 button-label"
                ><b>{{ link.name }}</b></span
              >
            </span>
          </button>
        </div>
      </li>
    </div>
  </nav>
</div>
<div fxLayout="column" fxLayoutGap="25px" fxFill class="{{ theme }} nav-mini theme-container p-4" fxHide.gt-lg>
  <a class="coinfloe-brand" href="#" translate>[C]</a>
  <nav class="nav" fxLayout="column" fxLayoutGap="5px">
    <div class="text-center">
      <small class="text-center text-faint fw-bold mb-1">MENU</small>
    </div>
    <div fxLayout="column" fxLayoutGap="15px" class="align-items-center">
      <li *ngFor="let link of links" class="nav-item">
        <div matTooltip="{{ link.name.toUpperCase() }}">
          <button
            class="w-100 p-2"
            (click)="activeLink = link"
            routerLinkActive="active"
            routerLink="{{ link.route }}"
            mat-icon-button
          >
            <span class="d-flex justify-content-start align-items-center text-capitalize">
              <span *ngIf="router.url !== link.route; else active">
                <i *ngIf="link.type != 'fa'" class="{{ link.icon_class }}"></i>
                <fa-icon *ngIf="link.type === 'fa'"  [icon]="['fas', 'coins']" class=""></fa-icon>
              </span>


              <ng-template #active>
                <i *ngIf="link.type==='bs'" class="{{ link.active_icon_class }}"></i>
                <fa-icon *ngIf="link.type === 'fa'" [icon]="['fas', 'coins']" class="btc-icon"></fa-icon>
              </ng-template>
            </span>
          </button>
        </div>
      </li>
    </div>
  </nav>
</div>
