<div fxLayout="column" fxLayoutGap="25px" fxFill class="{{ theme }} theme-container p-4 pr-5">
  <a fxHide.lt-md class="coinfloe-brand px-3" href="#" translate>APP_NAME</a>
  <a fxHide.gt-sm class="coinfloe-brand" href="#" translate>[C]</a>

  <!-- <div class="position-relative">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        routerLinkActive="active"
        routerLink="{{ link.route }}"
        *ngFor="let link of links"
        (click)="activeLink = link"
        [active]="activeLink == link"
      >
        <span>{{ link.name }}</span>
      </a>
    </nav>
  </div> -->
  <nav class="nav" fxLayout="column" fxLayoutGap="5px">
    <div class="px-3">
      <label class="text-faint font-weight-bold mb-1">MENU</label>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <li *ngFor="let link of links" class="nav-item">
        <div>
          <button
            class="w-100"
            (click)="activeLink = link"
            routerLinkActive="active"
            routerLink="{{ link.route }}"
            mat-button
          >
            <span class="d-flex justify-content-start align-items-center text-capitalize">
              <i *ngIf="router.url !== link.route; else active" class="{{ link.icon_class }}"></i>
              <ng-template #active>
                <i class="{{ link.active_icon_class }}"></i>
              </ng-template>
              <span class="ml-2 mb-0 button-label"
                ><b>{{ link.name }}</b></span
              >
            </span>
          </button>
        </div>
      </li>
    </div>
  </nav>
</div>
