@import "src/theme/theme-variables";
@import "../../../styles/index";

.nav-expanded {
  width: 286px !important;
}

.nav-mini {
  width: 86px !important;
}

@mixin theme-mixin($light-theme: true) {
  $brand: $primary-color;
  $font: $primary-font-color;
  $font-2: $secondary-font-color;
  $bg-color: $primary-background-lighter;
  $border: $header-border;
  $text-shadow: $primary-text-shadow;
  @if $light-theme != true {
    $brand: $primary-color;
    $font: $dark-primary-font-color;
    $font-2: $dark-primary-font-color;
    $bg-color: $dark-secondary-background;
    $border: $dark-header-border;
    $text-shadow: $dark-primary-text-shadow;
  }
  background-color: $bg-color !important;
  // border-bottom: 1px solid $border;
  border-right: 1px solid $border;
  color: $font;
  .coinfloe-brand {
    font-family: "Righteous", sans-serif;
    font-size: 2rem;
    color: $brand;
    text-shadow: 0 0 11px $text-shadow;
    text-decoration: none;
    &:hover {
      color: lighten($brand, 5%) !important;
      text-decoration: none !important;
    }
  }
  .tab-rotate {
    transform: rotate(-90deg);
    span {
      transform: rotate(90deg);
    }
  }
  .info-banner {
    border-top: 1px solid $border;
  }
  button {
    border-radius: 0.5rem;
    opacity: 0.7;
    color: $font;
    i {
      font-size: 25px;
    }
    fa-icon{
      font-size: 25px;
    }
    .button-label {
      font-size: 1.15rem;
    }
    &.active {
      color: $primary-color !important;
      opacity: 1;
      text-shadow: 0 0 11px $text-shadow;
      display: flex;
      align-items: center;
    }
  }
  .brand-text {
    color: $font-2;
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
