<div *ngIf="!!article" class="{{ theme }} theme-container">
  <a
    href="{{ article.news_url }}"
    target="_blank"
    aTilt
    [tiltSettings]="tileSettings"
    fxLayout="column"
    class="card w-100 border-0"
  >
    <div fxFlex="50" class="img-container">
      <img class="card-img-top w-100 h-100" src="{{ article.image_url }}" alt="{{ article.title }} image" />
    </div>
    <div fxFlex="50" class="card-body justify-content-between" fxLayout="column">
      <div>
        <label class="text-faint">{{ article.source_name }}</label>
        <h6 class="card-title font-weight-bold">{{ article.title }}</h6>
        <p class="card-text">
          {{ article.text }}
        </p>
        <small class="time-ago-text text-faint">
          <i class="bi bi-clock-fill mr-1"></i>

          {{ article.date | amTimeAgo }}
        </small>
      </div>
      <!-- <a href="{{article.news_url}}" target="_blank" class="font-weight-bold btn btn-primary">Read</a> -->
    </div>
  </a>
</div>
