<div class="container news-wrapper position-relative">
  <div [ngClass]="{ 'search-go-still': searchText }" class="container">
    <div class="position-absolute search-bar-wrapper w-100" [ngStyle]="{ 'z-index': 2 }">
      <app-news-search-bar
        (searchResults)="updateNewsResults($event)"
        (searchString)="searchText = $event"
      ></app-news-search-bar>
      <div class="scroll-box w-100 search-results" *ngIf="!!searchResults && searchText">
        <div class="container">
          <app-news-list
            [title]="'Search results'"
            [description]="searchResults.length + ' results came back from your search'"
            [newsFromParent]="searchResults"
            [start]="0"
            [end]="50"
            [use_api]="false"
            [theme]="theme"
          ></app-news-list>
        </div>
      </div>
    </div>
    <div class="w-100 search-overlay" *ngIf="searchText"></div>
  </div>
  <div class="transition-smooth news-articles-wrapper" [ngClass]="{ 'blur-bg': searchText }">
    <div class="w-100">
      <div fxLayout="column" fxLayoutGap="5px" class="mb-4">
        <small class="font-weight-bold">Quick topics</small>
        <mat-chip-list #chipList [selectable]="true" aria-label="topic selection">
          <mat-chip
            [selected]="selectedChip.label === chip.label"
            *ngFor="let chip of chips"
            (click)="chipSelection(chip)"
          >
            <span class="text-capitalize">{{ chip.label }}</span>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div *ngIf="selectedChip.label === 'All'; else topic">
        <app-trending-news [theme]="theme"></app-trending-news>
        <app-news-list [start]="12" [end]="50" [use_api]="true" [theme]="theme"></app-news-list>
      </div>
      <ng-template #topic>
        <app-news-list
          [title]="selectedChip.label + ' News'"
          [description]="selectedChip.desc"
          [start]="0"
          [end]="50"
          [use_api]="false"
          [theme]="theme"
        ></app-news-list>
      </ng-template>
    </div>
  </div>
</div>
