<div [ngClass.gt-lg]="'px-5'" class="mx-5" class="news-wrapper position-relative {{ theme }} theme-container">
  <div [ngClass]="{ 'search-go-still': searchText }" class="container position-relative">
    <div class="position-absolute search-bar-wrapper w-100" [ngStyle]="{ 'z-index': 2 }">
      <app-news-search-bar
        [recent_search]="activeRecentSearch"
        (searchResults)="updateNewsResults($event)"
        (searchString)="searchText = $event"
      ></app-news-search-bar>
      <div class="scroll-box w-100 search-results" *ngIf="!!searchResults && searchText; else recents">
        <div class="container">
          <app-news-list
            [title]="'Search results'"
            [description]="searchResults.length + ' results came back from your search'"
            [newsFromParent]="searchResults"
            [start]="0"
            [end]="50"
            [use_api]="false"
            [theme]="theme"
          ></app-news-list>
        </div>
      </div>
      <ng-template #recents>
        <div [@fadeOutUp] *ngIf="searchText && !!user" class="w-100 search-results">
          <div class="container d-flex justify-content-center">
            <div [ngClass.gt-md]="'w-50'" [ngClass.lt-lg]="'w-75'">
              <h5 class="fw-bold"><i class="bi bi-clock-history me-2"></i>Recent Searches</h5>
              <div [@fadeOutRight] *ngFor="let search of user.recent_search.reverse()">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                  <button (click)="search_recent(search)" mat-flat-button class="w-100 p-2 bg-transparent">
                    <div fxLayout="row" class="align-items-center">
                      <svg
                        _ngcontent-aqr-c355=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        class="bi bi-search me-2"
                      >
                        <path
                          _ngcontent-aqr-c355=""
                          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        ></path>
                      </svg>
                      <span>{{ search }}</span>
                    </div>
                  </button>
                  <button mat-icon-button (click)="removeRecentSearch(search)">
                    <i _ngcontent-aqr-c370="" class="bi bi-x"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <!-- overlay -->
    <div class="w-100 search-overlay" *ngIf="searchText"></div>
    <!-- overlay -->
  </div>
  <div class="transition-smooth news-articles-wrapper" [ngClass]="{ 'transform-bg': searchText }">
    <div class="w-100">
               <div class="my-4">
            <div fxLayout="column" fxLayoutGap="5px" class="mb-4">
              <small class="fw-bold">Quick topics</small>
              <mat-chip-list #chipList [selectable]="true" aria-label="topic selection">
                <mat-chip
                  [selected]="selectedChip.label === chip.label"
                  *ngFor="let chip of chips"
                  (click)="chipSelection(chip)"
                >
                  <span class="text-capitalize">{{ chip.label }}</span>
                </mat-chip>
              </mat-chip-list>
            </div>
            <div *ngIf="selectedChip.label === 'All'; else topic">
              <app-trending-news [theme]="theme"></app-trending-news>
              <app-news-list [start]="12" [end]="50" [use_api]="true" [theme]="theme"></app-news-list>
            </div>
          </div>

          <ng-template #topic>
            <app-news-list
              [title]="selectedChip.label + ' News'"
              [description]="selectedChip.desc"
              [start]="0"
              [end]="50"
              [newsFromParent]="topicResults"
              [use_api]="false"
              [theme]="theme"
            ></app-news-list>
          </ng-template>
      <!-- <mat-tab-group class="{{ theme }}" mat-align-tabs="start">
        <mat-tab label="Articles">
          <ng-template mat-tab-label>
            <h5 class="fw-bold mb-0" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div class="tab-icon article">
                <i class="bi bi-book"></i>
              </div>
              <h4 class="mb-0">Articles</h4>
            </h5>
          </ng-template>
          <div class="my-4">
            <div fxLayout="column" fxLayoutGap="5px" class="mb-4">
              <small class="fw-bold">Quick topics</small>
              <mat-chip-list #chipList [selectable]="true" aria-label="topic selection">
                <mat-chip
                  [selected]="selectedChip.label === chip.label"
                  *ngFor="let chip of chips"
                  (click)="chipSelection(chip)"
                >
                  <span class="text-capitalize">{{ chip.label }}</span>
                </mat-chip>
              </mat-chip-list>
            </div>
            <div *ngIf="selectedChip.label === 'All'; else topic">
              <app-trending-news [theme]="theme"></app-trending-news>
              <app-news-list [start]="12" [end]="50" [use_api]="true" [theme]="theme"></app-news-list>
            </div>
          </div>

          <ng-template #topic>
            <app-news-list
              [title]="selectedChip.label + ' News'"
              [description]="selectedChip.desc"
              [start]="0"
              [end]="50"
              [newsFromParent]="topicResults"
              [use_api]="false"
              [theme]="theme"
            ></app-news-list>
          </ng-template>
        </mat-tab>
        <mat-tab label="Videos">
          <ng-template mat-tab-label>
            <h5 class="fw-bold mb-0" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div class="tab-icon video">
                <i class="bi bi-play-btn"></i>
              </div>
              <span>Videos</span>
            </h5>
          </ng-template>
        </mat-tab>
      </mat-tab-group> -->
    </div>
  </div>
</div>
