@import "../../styles/index";

.news-wrapper {
  min-height: 100vh;
  padding: 1em;
  .search-bar-wrapper {
    top: 30px;
  }
  .news-articles-wrapper {
    margin-top: 75px;
  }
}

@mixin theme-mixin($light-theme: true) {
  $bg-color: $white-background;
  $primary-bg-color: $primary-background;
  $border-color: $primary-border-light;
  $primary-font: $primary-font-color;
  $shadow: $card-shadow;
  @if $light-theme != true {
    $bg-color: $dark-secondary-background;
    $primary-bg-color: $dark-body-background;
    $border-color: $dark-primary-border;
    $primary-font: $dark-primary-font-color;
    $shadow: $dark-card-shadow;
  }
  ::ng-deep .mat-tab-header {
    position: sticky !important;
    top: 75px;
    z-index: 2;
    border-bottom: none !important;
    backdrop-filter: blur(25px);
    background-image: linear-gradient(90deg, $primary-bg-color, transparent, $primary-bg-color);
    span {
      color: $primary-font;
    }
  }

  ::ng-deep .mat-tab-group{
    font-family: 'Quicksand', sans-serif;
  }

  ::ng-deep .mat-tab-body-wrapper {
    z-index: 0;
  }

  .tab-icon {
    margin-right: 10px;
    padding: 7px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    height: 30px;
    width: 30px;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .video {
    background: #ff2323;
    color: white;
  }
  .article {
    background: #1d2840;
    color: white;
  }
}

.transition-smooth {
  transition: ease-in-out 0.18s;
}
.transform-bg {
  opacity: 0.2;
  // filter: blur(8px) brightness(0.9) grayscale(0.3);
  transform: scale(0.96) translateY(-1.6%);
}

.search-results {
  height: calc(100vh - 330px);
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  top: 125px;
}

.search-overlay {
  position: fixed;
  left: 0;
  top: 75px;
  width: 100vw !important;
  height: calc(100vh - 75px);
  z-index: 1;
  backdrop-filter: blur(25px) grayscale(0.3);
  background: transparent;
}

.search-go-still {
  margin-top: 0px;
  position: fixed;
  z-index: 2;
}

.theme-container {
  @include theme-mixin($light-theme: true);
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}
