@import "../../styles/index";

.news-wrapper {
  min-height: 100vh;
  padding: 1em;
  .search-bar-wrapper {
    top: 30px;
  }
  .news-articles-wrapper {
    margin-top: 75px;
  }
}

@mixin theme-mixin($light-theme: true) {
  $bg-color: $white-background;
  $border-color: $primary-border-light;
  $primary-font: $primary-font-color;
  $shadow: $card-shadow;
  @if $light-theme != true {
    $bg-color: $dark-secondary-background;
    $border-color: $dark-primary-border;
    $primary-font: $dark-primary-font-color;
    $shadow: $dark-card-shadow;
  }
}

.transition-smooth {
  transition: ease-in-out 0.18s;
}
.blur-bg {
  opacity: 0.2;
  filter: blur(8px) brightness(0.9) grayscale(0.3);
  transform: scale(0.96) translateY(-1.6%);
}

.search-results {
  position: fixed;
  left: 0;
  top: -10px;
  width: 100vw !important;
  height: 100vh;
  /* height: 800px; */
  z-index: 1;
  background: transparent;
}

.search-go-still {
  margin-top: -15px;
  position: fixed;
  z-index: 2;
}

.theme-container {
  @include theme-mixin($light-theme: true);
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}
