<!-- <div fxLayout="row" class="justify-content-between">
  <div fxLayout="row">
<button
  (click)="updateOptions( '1d' )"
  [class.active]="activeOptionButton=='1d'"
>
  1d
</button>
<button
  (click)="updateOptions( '7d' )"
  [class.active]="activeOptionButton=='7d'"
>
  7d
</button>
<button
  (click)="updateOptions( '30d' )"
  [class.active]="activeOptionButton=='30d'"
>
  30d
</button>
<button
  (click)="updateOptions( '6m' )"
  [class.active]="activeOptionButton=='6m'"
>
  6m
</button>
<button
  (click)="updateOptions( 'all' )"
  [class.active]="activeOptionButton=='all'"
>
  All
</button>
  </div>
  <div>
<button (click)="reset()">Reset</button>
  </div>
</div> -->
<div class="chart-container">
  <div *ngIf="show" [@fadeIn]>
    <apx-chart
      #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [colors]="chartOptions.colors"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [markers]="chartOptions.markers"
      [stroke]="chartOptions.stroke"
      [xaxis]="chartOptions.xaxis"
      [tooltip]="chartOptions.tooltip"
      [grid]="chartOptions.grid"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
</div>
