<div class="text-start {{ theme }} theme-container">
  <!-- <h5 class="fw-bold">Top Losers</h5> -->
  <owl-carousel-o *ngIf="coins?.length > 1; else loading" class="w-100" [options]="customOptions">
    <ng-template [width]="225" *ngFor="let coin of coins?.slice(0, 12)" carouselSlide>
      <button aTilt [tiltSettings]="tileSettings" class="p-0" (click)="openBottomSheet(coin)">
        <app-coin-card [coin]="coin" [theme]="theme"></app-coin-card>
      </button>
    </ng-template>
  </owl-carousel-o>
  <!-- <ngx-slick-carousel
    *ngIf="coins?.length > 1; else loading"
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let coin of coins?.slice(0, 10)" class="slide">
      <div class="p-2 slick-slide">
        <button class="p-0" aTilt [tiltSettings]="tileSettings" (click)="openBottomSheet(coin)">
          <app-coin-card [coin]="coin" [theme]="theme"></app-coin-card>
        </button>
      </div>
    </div>
  </ngx-slick-carousel> -->
</div>

<ng-template #loading>
  <owl-carousel-o class="w-100" [options]="customOptions">
    <ng-template [width]="225" carouselSlide>
      <app-coin-card-loader [theme]="theme"></app-coin-card-loader>
    </ng-template>
    <ng-template [width]="225" carouselSlide>
      <app-coin-card-loader [theme]="theme"></app-coin-card-loader>
    </ng-template>
    <ng-template [width]="225" carouselSlide>
      <app-coin-card-loader [theme]="theme"></app-coin-card-loader>
    </ng-template>
    <ng-template [width]="225" carouselSlide>
      <app-coin-card-loader [theme]="theme"></app-coin-card-loader>
    </ng-template>
    <ng-template [width]="225" carouselSlide>
      <app-coin-card-loader [theme]="theme"></app-coin-card-loader>
    </ng-template>
    <ng-template [width]="225" carouselSlide>
      <app-coin-card-loader [theme]="theme"></app-coin-card-loader>
    </ng-template>
    <ng-template [width]="225" carouselSlide>
      <app-coin-card-loader [theme]="theme"></app-coin-card-loader>
    </ng-template>
  </owl-carousel-o>
</ng-template>
