<div class="text-left {{ theme }} theme-container">
  <h5 class="font-weight-bold">Top Losers</h5>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let coin of coins?.slice(0, 10)" class="slide">
      <!-- <img src="{{ slide.img }}" alt="" width="100%" /> -->
      <div class="p-2 slick-slide">
        <button class="p-0" mat-button (click)="openBottomSheet(coin)">
          <app-coin-card [coin]="coin" [theme]="theme"></app-coin-card>
        </button>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
