<div class="text-start {{ theme }} theme-container w-100">
  <div class="mb-2">
    <h5 class="fw-bold mb-0">Today's Trending News</h5>
    <small class="fw-bold text-faint">Hottest news over the past day</small>
  </div>
  <ngx-slick-carousel
    *ngIf="allNewsS2?.length > 0; else loading"
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let article of allNewsS2?.slice(0, 10)" class="slide">
      <div class="p-2 slick-slide">
        <!-- <button class="p-0 border-0"> -->
        <app-news-card [theme]="theme" [article]="article"></app-news-card>
        <!-- </button> -->
      </div>
    </div>
  </ngx-slick-carousel>
</div>

<ng-template #loading>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem class="slide">
      <div class="p-2 slick-slide">
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="p-2 slick-slide">
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="p-2 slick-slide">
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="p-2 slick-slide">
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="p-2 slick-slide">
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="p-2 slick-slide">
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </div>
    </div>
  </ngx-slick-carousel>
</ng-template>
