<div class="text-start {{ theme }} theme-container w-100">
  <div class="mb-2">
    <h5 class="fw-bold mb-0">Today's Trending News</h5>
    <small class="fw-bold text-faint">Hottest news over the past day</small>
  </div>
  <owl-carousel-o *ngIf="allNewsS2?.length > 0; else loading" class="w-100" [options]="customOptions">
    <ng-template [width]="280" *ngFor="let article of allNewsS2?.slice(0, 10)" carouselSlide>
      <app-news-card [theme]="theme" [article]="article"></app-news-card>
    </ng-template>
  </owl-carousel-o>
</div>

<ng-template #loading>
  <owl-carousel-o class="w-100" [options]="customOptions">
    <ng-template [width]="280" carouselSlide>
      <app-news-card-loader [theme]="theme"></app-news-card-loader>
    </ng-template>
    <ng-template [width]="280" carouselSlide>
      <app-news-card-loader [theme]="theme"></app-news-card-loader>
    </ng-template>
    <ng-template [width]="280" carouselSlide>
      <app-news-card-loader [theme]="theme"></app-news-card-loader>
    </ng-template>
    <ng-template [width]="280" carouselSlide>
      <app-news-card-loader [theme]="theme"></app-news-card-loader>
    </ng-template>
    <ng-template [width]="280" carouselSlide>
      <app-news-card-loader [theme]="theme"></app-news-card-loader>
    </ng-template>
    <ng-template [width]="280" carouselSlide>
      <app-news-card-loader [theme]="theme"></app-news-card-loader>
    </ng-template>
    <ng-template [width]="280" carouselSlide>
      <app-news-card-loader [theme]="theme"></app-news-card-loader>
    </ng-template>
  </owl-carousel-o>
</ng-template>
