<div class="text-start {{ theme }} theme-container w-100 ">
  <!-- <owl-carousel-o *ngIf="allNewsS2?.length > 0; else loading" class="w-100" [options]="customOptions">
    <ng-template [width]="280" *ngFor="let article of allNewsS2?.slice(0, 10)" carouselSlide>
      <app-news-card [theme]="theme" [article]="article"></app-news-card>
    </ng-template>
  </owl-carousel-o> -->
  <div class="position-relative" *ngIf="allNewsS2?.length > 0; else loading">
    <owl-carousel-o #owlCar  class="w-100" [options]="customOptions" (changed)="startPosition = $event.startPosition" (dragging)="isDragging = $event.dragging">
      <!-- <ng-template [width]="90" carouselSlide>
      </ng-template> -->
      <ng-template [width]="280" *ngFor="let article of allNewsS2?.slice(0, 15)" carouselSlide>
        <app-news-card [theme]="theme" [article]="article"></app-news-card>
      </ng-template>
    </owl-carousel-o>
    <!-- <div class="w-100 my-3" fxLayout="row" fxLayoutAlign="center center">
      <div class="w-50">
        <mat-progress-bar mode="determinate" value="{{((owlCar?.slidesOutputData?.startPosition+1)/(owlCar?.slidesData?.length-1))*100 || 0}}"></mat-progress-bar>
      </div>
    </div> -->

    <!-- <div *ngIf="startPosition!=0" class="d-flex justify-content-center align-items-center" [ngClass.gt-lg]="'owl-fade-left-xl'" [ngClass]="'owl-fade-left'">
      <button  mat-icon-button class="btn owl-dir-button" (click)="owlCar.prev()">
        <i class="bi bi-chevron-left"></i>
      </button>
    </div>
    <div class="d-flex justify-content-center align-items-center"  [ngClass.gt-lg]="'owl-fade-right-xl'" [ngClass]="'owl-fade-right'">
      <button mat-icon-button class="btn owl-dir-button" (click)="owlCar.next()">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div> -->
    <div *ngIf="startPosition!=0" class="d-flex justify-content-center align-items-center" [ngClass]="'owl-fade-left'">
      <button  mat-icon-button class="btn owl-dir-button dir-buttons" (click)="owlCar.prev()">
        <i class="bi bi-chevron-left"></i>
      </button>
    </div>
    <div class="d-flex justify-content-center align-items-center" (click)="print(owlCar)" [ngClass]="'owl-fade-right'">
      <button mat-icon-button class="btn owl-dir-button dir-buttons" (click)="owlCar.next()">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="position-relative">
    <owl-carousel-o class="w-100" [options]="customOptions">
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
      <ng-template [width]="280" carouselSlide>
        <app-news-card-loader [theme]="theme"></app-news-card-loader>
      </ng-template>
    </owl-carousel-o>
    <div class="d-flex justify-content-end align-items-center" [ngClass]="'owl-fade-right'">
    </div>
  </div>
</ng-template>
