@import "../../../../styles/index";

.img-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 30px;
    height: 30px;
  }
}

::ng-deep {
  .mat-ink-bar {
    position: absolute;
    bottom: 0;
    height: 2px;
    transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
    background-color: $primary-color !important;
  }
}

@mixin theme-mixin($light-theme: true) {
  $brand: $primary-color;
  $font: $primary-font-color;
  $bg-color: $white-background;
  $bg-color-alt: $primary-background-lighter;
  $border: $header-border;
  $shadow: $card-shadow;

  @if $light-theme != true {
    $brand: $primary-color;
    $font: $dark-primary-font-color;
    $bg-color: $dark-secondary-background;
    $bg-color-alt: $dark-body-background;
    $border: $dark-header-border;
    $shadow: $dark-card-shadow;
  }

  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  .outer-click-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
    // background: #4a4a4a0a;
  }
  .inner-container {
    position: fixed;
    bottom: 0px;
    width: 80vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    color: $font;
    /* align-items: end; */
    background: $bg-color;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: rgb(17 17 26 / 5%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
    .price-label {
      opacity: 0.9;
    }
    .crypto-stat-container {
      border-radius: $default-brdr-radius;
      box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
      background: $bg-color-alt;
    }
    .tab-icon {
      font-size: 1.15rem;
      margin-right: 5px;
    }
    .crypto-header {
      border-bottom: 1px solid $border;
    }
    .left-content {
      display: flex;
      flex: 1 1 1%;
      height: 1px;
    }
    .tab-header {
      color: $font !important;
    }
  }
}

.dark.bottom-sheet-wrapper {
  @include theme-mixin($light-theme: false);
}

.bottom-sheet-wrapper {
  @include theme-mixin($light-theme: true);
}
