<div *ngIf="visible" [@fadeInOnEnter] [@fadeOutOnLeave] class="w-100 h-100 bottom-sheet-wrapper {{ theme }}">
  <div class="outer-click-container" (click)="closeBottomSheet()"></div>
  <div *ngIf="visible" [@fadeInUpOnEnter] [@fadeOutDownOnLeave] class="inner-container">
    <div fxFlexFill>
      <div fxFlexFill fxLayout="row">
        <div class="p-3" fxLayout="column" fxFlex="70">
          <div class="d-flex justify-content-start align-items-center mb-2">
            <div class="img-container mr-2">
              <img src="{{ prettyImgURL }}" (error)="prettyImgURL = imgURL" />
            </div>
            <h2 class="m-0 font-weight-bold">{{ coin.CoinInfo.FullName }}</h2>
          </div>
          <div class="d-flex justify-content-start align-items-center">
            <h4 class="font-weight-bold price-label mb-0">{{ coin.RAW.USD.PRICE | currency }}</h4>
            <label
              class="d-flex justify-content-end mb-0 ml-2"
              [ngClass]="{
                'text-success': coin?.RAW?.USD?.CHANGEPCT24HOUR > 0,
                'text-danger': coin?.RAW?.USD?.CHANGEPCT24HOUR < 0
              }"
            >
              <i *ngIf="coin?.RAW?.USD?.CHANGEPCT24HOUR > 0" class="bi bi-arrow-up-short"></i>
              <i *ngIf="coin?.RAW?.USD?.CHANGEPCT24HOUR < 0" class="bi bi-arrow-down-short"></i>
              {{ coin?.RAW?.USD?.CHANGEPCT24HOUR / 100 | percent: '0.1-2' }}
            </label>
          </div>
          <div class="d-flex justify-content-start align-items-center my-3" fxLayout="row" fxLayoutGap="15px">
            <div class="crypto-stat-container py-2 px-2" fxLayout="column">
              <small class="text-muted">Market Cap</small>
              <label class="font-weight-bold mb-0">{{ coin.RAW.USD.MKTCAP | currency }}</label>
            </div>
            <div class="crypto-stat-container py-2 px-2" fxLayout="column">
              <small class="text-muted">24h Volume</small>
              <label class="font-weight-bold mb-0">{{ coin.RAW.USD.VOLUME24HOUR | number }}</label>
            </div>
            <div class="crypto-stat-container py-2 px-2" fxLayout="column">
              <small class="text-muted">24h High</small>
              <label class="font-weight-bold mb-0">{{ coin.RAW.USD.HIGH24HOUR | currency }}</label>
            </div>
            <div class="crypto-stat-container py-2 px-2" fxLayout="column">
              <small class="text-muted">24h Low</small>
              <label class="font-weight-bold mb-0">{{ coin.RAW.USD.LOW24HOUR | currency }}</label>
            </div>
          </div>
          <div class="my-4">
            <app-crypto-chart [coin]="coin"></app-crypto-chart>
          </div>
          <div>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-newspaper tab-icon"></i>
                    <label class="mb-0">News</label>
                  </div>
                </ng-template>
                Content 1
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-people tab-icon"></i>
                      <label class="mb-0">Groups</label>
                    </div>
                  </div>
                </ng-template>
                Content 2
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-card-text tab-icon"></i>
                    <label class="mb-0">About</label>
                  </div>
                </ng-template>

                Content 3
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="p-3" fxLayout="column" fxFlex="30"></div>
      </div>
    </div>
  </div>
</div>
