@import "../../../../styles/index";

.box {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: auto;
  float: left;
  position: relative;
  transition: all .2s ease;
  align-items: center;
}

.loader1 {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 3px solid #6b42ff94;

  top: 28%;
  top: -webkit-calc(50% - 43px);
  top: calc(50% - 43px);
  left: 0px;

  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: loader1 1s linear infinite;
  animation: loader1 1s linear infinite;
}

.loader-text{
  margin-top: 70px;
}

.loader1:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  width: 11px;
  height: 11px;
  border-radius: $default-brdr-radius;
  background-color: $primary-color;
}

@-webkit-keyframes loader1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
