<nav class="navbar navbar-expand-lg navbar-light {{ theme }} theme-container p-0">
  <div fxFlexFill fxLayout="column">
    <div fxFlexFill fxLayout="row" class="px-3 mb-2">
      <div fxLayoutAlign="center center" fxFlex="65px">
        <button
          matTooltip="Toggle Menu"
          (click)="toggleLeftNav()"
          mat-icon-button
          aria-label="toggle side navigation"
        >
          <div [ngClass]="{ open: !navOpen }" class="open icon nav-icon-8">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
      <div fxFlex="100" class="justify-content-between d-flex align-items-center">
        <!-- <app-language-selector icon="true"></app-language-selector> -->
        <app-search [theme]="theme"></app-search>
        <div fxLayout="row">
          <button matTooltip="Toggle Theme" aTilt [tiltSettings]="tileSettings" mat-icon-button (click)="setTheme()">
            <i *ngIf="theme==='light'" class="bi bi-sun"></i>
            <i *ngIf="theme==='dark'" class="bi bi-moon"></i>
          </button>
          <!-- <button matTooltip="View Theme" aTilt [tiltSettings]="tileSettings" mat-icon-button (click)="toggleSideNav(false)">
            <i class="bi bi-bell"></i>
          </button> -->
          <button matTooltip="View Profile" aTilt [tiltSettings]="tileSettings" mat-icon-button (click)="toggleSideNav(true)">
            <i class="bi bi-person-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
