<!-- <mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <a class="brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>

  <div class="container">
    <div fxHide.lt-md>
      <button mat-button routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span translate>Home</span>
      </button>
      <button mat-button routerLink="/about" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span translate>About</span>
      </button>
    </div>
  </div>
  <span fxFlex></span>
  <app-language-selector icon="true"></app-language-selector>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar> -->
<nav class="navbar navbar-expand-lg navbar-light {{ theme }} theme-container px-0 pb-0">
  <div fxFlexFill fxLayout="column">
    <div fxFlexFill fxLayout="row" class="px-3 mb-2">
      <div fxFlex="25">
        <a class="coinfloe-brand" href="#" translate>APP_NAME</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <div fxFlex="50" class="justify-content-center">
        <div class="collapse navbar-collapse" class="d-flex justify-content-center h-100" id="navbarNav">
          <ul class="navbar-nav" fxLayout="row" fxLayoutGap="20px">
            <button
              aTilt
              [tiltSettings]="tileSettings"
              mat-button
              routerLink="/home"
              routerLinkActive="active"
              matTooltip="Home"
            >
              <i [ngClass]="{ 'bi bi-house-fill': router.url === '/home', 'bi bi-house': router.url != '/home' }"></i>
            </button>
            <button
              aTilt
              [tiltSettings]="tileSettings"
              mat-button
              routerLinkActive="active"
              routerLink="/charts"
              matTooltip="Charts"
            >
              <i
                [ngClass]="{
                  'bi bi-bar-chart-line-fill': router.url === '/charts',
                  'bi bi-bar-chart-line': router.url != '/charts'
                }"
              ></i>
            </button>
            <!-- <button mat-button routerLinkActive="active" routerLink="/groups" matTooltip="Groups">
              <i
                [ngClass]="{
                  'bi bi-people-fill': router.url === '/groups',
                  'bi bi-people': router.url != '/groups'
                }"
              ></i>
            </button>
            <button mat-button routerLinkActive="active" routerLink="/explore" matTooltip="Explore">
              <i
                [ngClass]="{
                  'bi bi-compass-fill': router.url === '/explore',
                  'bi bi-compass': router.url != '/explore'
                }"
              ></i>
            </button> -->
            <button
              aTilt
              [tiltSettings]="tileSettings"
              mat-button
              routerLinkActive="active"
              routerLink="/news"
              matTooltip="News"
            >
              <!-- <i
                [ngClass]="{
                  'bi bi-newspaper': router.url === '/news',
                  'bi bi-newspaper': router.url != '/news'
                }"
              ></i> -->
              <i class="bi bi-newspaper"></i>
            </button>
          </ul>
        </div>
      </div>
      <div fxFlex="25" class="justify-content-end d-flex align-items-center">
        <!-- <app-language-selector icon="true"></app-language-selector> -->
        <app-search [theme]="theme"></app-search>
        <div fxHide.lt-lg fxLayout="row">
          <button aTilt [tiltSettings]="tileSettings" mat-icon-button (click)="setTheme()">
            <i class="bi bi-sun"></i>
          </button>
          <button aTilt [tiltSettings]="tileSettings" mat-icon-button (click)="toggleSideNav(false)">
            <i class="bi bi-bell"></i>
          </button>
          <button aTilt [tiltSettings]="tileSettings" mat-icon-button (click)="toggleSideNav(true)">
            <i class="bi bi-person-circle"></i>
          </button>
          <!-- <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" translate>Logout</button>
          </mat-menu> -->
        </div>

        <div fxHide.gt-md>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Theme, notifications and profile menu">
            <mat-icon><i class="bi bi-list"></i></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="setTheme()">
              <mat-icon> <i class="bi bi-sun"></i> </mat-icon>
              <span>Theme</span>
            </button>
            <button mat-menu-item>
              <mat-icon><i class="bi bi-bell"></i></mat-icon>
              <span>Notifications</span>
            </button>
            <button mat-menu-item>
              <mat-icon><i class="bi bi-person-circle"></i></mat-icon>
              <span>Profile</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div fxFlexFill fxLayout="row" class="px-3 py-2 info-banner">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
          <small class="d-flex align-items-center">
            <span class="mr-1">Market Cap:</span>
            <b class="brand-text">$1,000,000,000,000</b>
            <i matTooltip="Sum of total coin market caps" class="bi bi-info-circle ml-1"></i>
          </small>
          <small class="d-flex align-items-center">
            <span class="mr-1">BTC Dominance:</span>
            <b class="brand-text">66%</b>
            <i
              matTooltip="Percentage BTC market cap vs alt coins (i.e. ETH, ADA, etc.)"
              class="bi bi-info-circle ml-1"
            ></i>
          </small>
          <small class="d-flex align-items-center">
            <span class="mr-1">BTC Sentiment:</span>
            <b class="brand-text">Bullish</b>
            <i matTooltip='Most addresses are "in the money" or profitable' class="bi bi-info-circle ml-1"></i>
          </small>
          <small class="d-flex align-items-center">
            <span class="mr-1">New BTC Adresses:</span>
            <b class="brand-text">{{ blockChainInfo.new_addresses || 0 | number }}</b>
            <i matTooltip="New BTC addresses for the past day" class="bi bi-info-circle ml-1"></i>
          </small>
        </div>
      </div>
    </div>
  </div>
</nav>
