@import "src/theme/theme-variables";
@import "../../../styles/index";
.navbar {
  position: sticky;
  top: 0px;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 3;
  width: 100%;
}

// .brand {
//   color: mat-color($app-primary, "default-contrast");
//   text-decoration: none;
//   padding-right: 1rem;
// }

.menu-button {
  margin-right: 1rem;
}

@mixin theme-mixin($light-theme: true) {
  $brand: $primary-color;
  $font: $primary-font-color;
  $font-2: $secondary-font-color;
  $bg-color: $primary-background-lighter;
  $border: $header-border;
  $text-shadow: $primary-text-shadow;
  @if $light-theme != true {
    $brand: $primary-color;
    $font: $dark-primary-font-color;
    $font-2: $dark-primary-font-color;
    $bg-color: $dark-secondary-background;
    $border: $dark-header-border;
    $text-shadow: $dark-primary-text-shadow;
  }

  background-color: $bg-color !important;
  border-bottom: 1px solid $border;
  // padding-top: 22px;
  height: 75px;
  color: $font;
  .coinfloe-brand {
    font-family: "Righteous", cursive;
    font-size: 2rem;
    color: $brand;
    text-shadow: 0 0 11px $text-shadow;
    text-decoration: none;
    &:hover {
      color: lighten($brand, 5%) !important;
      text-decoration: none !important;
    }
  }
  .info-banner {
    border-top: 1px solid $border;
  }
  button {
    border-radius: 0.5rem;
    opacity: 0.7;
    color: $font;
    i {
      font-size: 25px;
    }
    &.active {
      color: $primary-color !important;
      opacity: 1;
      text-shadow: 0 0 11px $text-shadow;
    }
  }
  .brand-text {
    color: $font-2;
  }
  // hamburger
  // nav-icon-8
  .nav-icon-8 {
    width: 25px;
    height: 20px;
    // margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-8 span {
    background-color: $font;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 2px;
  }
  .nav-icon-8 span:nth-child(1) {
    top: 0px;
    left: 0px;
  }
  .nav-icon-8 span:nth-child(2) {
    top: 9px;
    left: 0px;
  }
  .nav-icon-8 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-8:not(.open):hover span:nth-child(1) {
    transform: scaleX(0.8);
  }
  .nav-icon-8:not(.open):hover span:nth-child(2) {
    transform: scaleX(0.5);
  }
  .nav-icon-8:not(.open):hover span:nth-child(3) {
    transform: scaleX(0.8);
  }
  .nav-icon-8.open span:nth-child(1) {
    top: 9px;
  }
  .nav-icon-8.open span:nth-child(2) {
    top: 9px;
  }
  .nav-icon-8.open span:nth-child(3) {
    top: 9px;
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
