<div id="chart" class="{{theme}} theme-container">
  <div fxLayout="row" fxLayoutGap="10px" class="widget-container p-2 px-0">
    <div fxFlex="80px" class="position-relative">
      <div class="icon-container" [ngStyle]="{'color': color}">
        <fa-icon [icon]="['fab', icon]" class="eth-icon"></fa-icon>
      </div>
      <apx-chart
      *ngIf="show"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [labels]="chartOptions.labels"
      [stroke]="chartOptions.stroke"
      [fill]="chartOptions.fill"
    ></apx-chart>
    </div>
    <div fxFlex="auto">
      <h4 class="percent">{{chartOptions.series[0] | number: '1.0-2' }}%</h4>
      <div fxLayout="column">
        <label class="title">{{title || 'Chart'}}</label>
        <label class="desc">{{desc || 'Chart'}}</label>
      </div>
     </div>
  </div>
</div>
