@import "../../../styles/index";

.footer-wrapper {
}

@mixin theme-mixin($light-theme: true) {
  $brand: $primary-color;
  $font: $primary-font-color;
  $font-2: $secondary-font-color;
  $bg-color: $white-background;
  $border: $header-border;
  $text-shadow: $primary-text-shadow;
  @if $light-theme != true {
    $brand: $primary-color;
    $font: $dark-primary-font-color;
    $font-2: $secondary-font-color;
    $bg-color: $dark-secondary-background;
    $border: $dark-header-border;
    $text-shadow: $dark-primary-text-shadow;
  }
  // background-color: $bg-color !important;
  // border-bottom: 1px solid $border;
  .footer-body {
    background: #f1f1f1;
    padding: 25px;
    // height: 400px;
    margin: 0;
    margin-top: 85px;
    .coinfloe-brand {
      font-family: "Righteous", cursive;
      font-size: 1.6rem;
      color: $brand;
      text-shadow: 0 0 11px $text-shadow;
      &:hover {
        color: lighten($brand, 5%) !important;
        text-decoration: none !important;
      }
    }
    .brand-text {
      color: $font-2;
    }
    .about-me-container {
      padding-right: 15px;
      border-right: 1px solid $border;
      .avatar {
        overflow: hidden;
        width: 280px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        display: flex;
        border: 5px solid $bg-color;
        img {
          transform: scale(1.85) translate(-10px, 5px);
        }
      }
    }

    p {
      font-family: sans-serif;
      line-height: 1.5;
      font-size: 0.95rem;
    }
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
