<div fxFlex>
  <mat-drawer-container class="{{ theme }} theme-container">
    <mat-drawer #drawer mode="side" opened>
      <app-side-nav></app-side-nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="scroll-bar-wrap h-100">
        <div class="scroll-box overflow-auto h-100">
          <app-header [sidenav]="sidenav" (sideNavToggle)="openSidenav($event)"></app-header>
          <div fxLayout="row">
            <div fxFlex="75">
              <!-- <div class="router-wrapper"
              [@rotateCubeToLeft]="getState(o)">
              </div> -->
              <router-outlet #o="outlet"></router-outlet>

              <app-footer></app-footer>
            </div>
            <div fxFlex="25" class="position-relative">
              <div class="w-100">
                <div>
                  <app-coin-rating-widget></app-coin-rating-widget>
                  <app-events-widget></app-events-widget>
                  <app-favorites-coins-widget></app-favorites-coins-widget>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </perfect-scrollbar> -->
      <button
        *ngIf="scrollTop"
        (click)="backToTop()"
        [@fadeInUpOnEnter]
        [@fadeOutDownOnLeave]
        mat-fab
        color="primary"
        class="scrollToTopButton"
        aria-label="Back to top of page"
      >
        <i class="bi bi-arrow-up"></i>
        <!-- <mat-icon>delete</mat-icon> -->
      </button>
    </mat-drawer-content>
  </mat-drawer-container>

  <!-- <mat-sidenav-container [hasBackdrop]="false" fxFill class="{{ theme }} theme-container">
    <mat-sidenav position="end" #sidenav mode="side">
      <app-profile-menu
        *ngIf="showProfile"
        [username]="user_name"
        [title]="title_display"
        [user]="userProfile"
        [theme]="theme"
        (logout)="logout()"
      ></app-profile-menu>
      <app-notifications-menu *ngIf="!showProfile"></app-notifications-menu>
    </mat-sidenav>
    <mat-sidenav-content class="overflow-hidden" (click)="closeSidenav()">
      <div class="scroll-bar-wrap h-100">
        <div class="scroll-box overflow-auto h-100">
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
      <button
        *ngIf="scrollTop"
        (click)="backToTop()"
        [@fadeInUpOnEnter]
        [@fadeOutDownOnLeave]
        mat-fab
        color="primary"
        class="scrollToTopButton"
        aria-label="Back to top of page"
      >
        <i class="bi bi-arrow-up"></i>
      </button>
    </mat-sidenav-content>
    <mat-sidenav opened="true" [position]="'start'" mode="push"></mat-sidenav>

  </mat-sidenav-container> -->
</div>
