<div fxFlex class="{{ theme }} theme-container">
  <mat-drawer-container autosize [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="'side'" [opened]="menuOpen">
      <app-side-nav></app-side-nav>
    </mat-drawer>
    <mat-drawer #drawer2 [position]="'end'" [mode]="'over'" [opened]="true">
      <div class="w-100 py-3 px-1" fxLayout="row" fxLayoutAlign="end center">
        <button class="rounded" mat-flat-button>
          <span class="d-flex fw-bold py-1" (click)="closeSidenav()">Close</span>
        </button>
      </div>
      <app-profile-menu
        [@fade]
        *ngIf="showProfile"
        [username]="user_name"
        [title]="title_display"
        [user]="userProfile"
        [theme]="theme"
        (logout)="logout()"
      ></app-profile-menu>
    </mat-drawer>
    <mat-drawer-content>
      <div class="scroll-bar-wrap h-100">
        <div class="scroll-box overflow-x-hidden h-100">
          <!-- <button (click)="drawer.toggle()">SHOW</button> -->
          <app-header
            [sidenav]="sidenav"
            (leftNavToggle)="drawer.toggle()"
            (sideNavToggle)="openSidenav($event)"
          ></app-header>
          <div fxLayout="row">
            <div fxFlex.lt-xl="100" fxFlex.gt-lg="75">
              <!-- <div class="router-wrapper"
              [@rotateCubeToLeft]="getState(o)">
              </div> -->
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                class="w-100 py-1 ticker-container justify-content-end align-items-center"
              >
                <div [@fade] *ngIf="marqueeInit" fxFlex="auto">
                  <ng-ticker [stopOnHover]="true" [playState]="marqueePlay" [speed]="'165s'">
                    <div fxLayout="row">
                      <div *ngFor="let coin of coins | slice: 0:20">
                        <app-coin-marquee-item [theme]="theme" [coin]="coin"></app-coin-marquee-item>
                      </div>
                    </div>
                  </ng-ticker>
                </div>
                <div class="d-flex justify-content-end px-2" fxFlex="50px">
                  <button matTooltip="Toggle marquee play/pause" mat-icon-button (click)="marqueePlay = !marqueePlay">
                    <i
                      [ngClass]="{ 'bi-stop-circle-fill': marqueePlay, 'bi-play-circle': !marqueePlay }"
                      class="bi"
                    ></i>
                  </button>
                </div>
              </div>
              <router-outlet #o="outlet"></router-outlet>
              <app-footer *ngIf="router.url != '/coins'"></app-footer>
            </div>
            <div fxFlex.gt-lg="25" fxHide.lt-xl class="widgets-container">
              <div class="w-100">
                <div>
                  <!-- <app-coin-rating-widget></app-coin-rating-widget>
                  <app-events-widget></app-events-widget> -->
                  <app-favorites-coins-widget [theme]="theme" [user]="userProfile"></app-favorites-coins-widget>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </perfect-scrollbar> -->
      <button
        *ngIf="scrollTop"
        (click)="backToTop()"
        [@fadeInUpOnEnter]
        [@fadeOutDownOnLeave]
        mat-fab
        color="primary"
        class="scrollToTopButton"
        aria-label="Back to top of page"
      >
        <i class="bi bi-arrow-up"></i>
        <!-- <mat-icon>delete</mat-icon> -->
      </button>
      <app-bottom-sheet-custom></app-bottom-sheet-custom>
    </mat-drawer-content>
  </mat-drawer-container>

  <!-- <mat-sidenav-container [hasBackdrop]="false" fxFill class="{{ theme }} theme-container">
    <mat-sidenav position="end" #sidenav mode="side">
      <app-profile-menu
        *ngIf="showProfile"
        [username]="user_name"
        [title]="title_display"
        [user]="userProfile"
        [theme]="theme"
        (logout)="logout()"
      ></app-profile-menu>
      <app-notifications-menu *ngIf="!showProfile"></app-notifications-menu>
    </mat-sidenav>
    <mat-sidenav-content class="overflow-hidden" (click)="closeSidenav()">
      <div class="scroll-bar-wrap h-100">
        <div class="scroll-box overflow-auto h-100">
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
      <button
        *ngIf="scrollTop"
        (click)="backToTop()"
        [@fadeInUpOnEnter]
        [@fadeOutDownOnLeave]
        mat-fab
        color="primary"
        class="scrollToTopButton"
        aria-label="Back to top of page"
      >
        <i class="bi bi-arrow-up"></i>
      </button>
    </mat-sidenav-content>
    <mat-sidenav opened="true" [position]="'start'" mode="push"></mat-sidenav>

  </mat-sidenav-container> -->
  <div [@fade] class="backdrop position-fixed w-100 h-100" *ngIf="backDrop" (click)="closeSidenav()"></div>
</div>

