@import "src/theme/theme-variables";
@import "../../styles/index";
:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.mat-drawer {
  border: none !important;
}

.mat-drawer-container {
  position: unset;
}

.mat-drawer-content,
// Force style down to child components
// See https://angular.io/guide/component-styles#deep
:host ::ng-deep .mat-drawer-backdrop {
  top: 0px !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  position: absolute;
  z-index: 0;
  // background: linear-gradient(317deg, #a2a2a21a, transparent);
}

// .mat-sidenav {
//   top: 89px;
//   right: 0px;
// }

/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
  opacity: 0;
  -webkit-transition: all 0.5s;
}

@media ($mat-xsmall) {
  .mat-sidenav,
  .mat-drawer-content,
  :host ::ng-deep .mat-drawer-backdrop {
    top: 56px;
  }
}

@mixin theme-mixin($light-theme: true) {
  $brand: $primary-color;
  $font: $primary-font-color;
  $bg-color: $body-background;
  $scroll-color: rgba(0, 0, 0, 0.2);
  $slick-color: $slick-color;
  $slick-dots: $slick-dots;
  @if $light-theme != true {
    $brand: $primary-color;
    $font: $dark-primary-font-color;
    $bg-color: $dark-body-background;
    $scroll-color: rgb(212 212 212 / 20%);
    $slick-color: $dark-slick-color;
    $slick-dots: $dark-slick-dots;
  }

  color: $font;
  .mat-drawer-content {
    background-color: $bg-color !important;
  }
  ::ng-deep .slick-next::before {
    color: $slick-color !important;
  }

  ::ng-deep .slick-prev::before {
    color: $slick-color !important;
  }

  ::ng-deep .slick-dots li button::before {
    color: $slick-dots !important;
  }

  .scrollToTopButton {
    position: absolute;
    border-radius: 30% !important;
    bottom: 25px;
    right: 55px;
    background-color: $brand !important;
    font-size: 1.55rem;
  }

  ::ng-deep .mat-drawer-side.mat-drawer-end {
    border-left: 1px solid #80808014;
    border-right: none;
    background: lighten($bg-color, 3%);
  }

  ::ng-deep .scroll-box::-webkit-scrollbar {
    width: 0.5em;
    &:hover {
      width: 0.6em;
    }
  }
  ::ng-deep .scroll-box::-webkit-scrollbar,
  .scroll-box::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 0px;
    background-color: #5d5d5d33;
  }
  ::ng-deep .scroll-box::-webkit-scrollbar-thumb {
    background: $scroll-color;
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
