@import "src/theme/theme-variables";
@import "../../styles/index";
// @import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.mat-drawer {
  border: none !important;
}

.mat-drawer-content,
// Force style down to child components
// See https://angular.io/guide/component-styles#deep
:host ::ng-deep .mat-drawer-backdrop {
  top: 0px !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  position: absolute;
  // background: linear-gradient(317deg, #a2a2a21a, transparent);
}

/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
  opacity: 0;
  -webkit-transition: all 0.5s;
}

@media ($mat-xsmall) {
  .mat-sidenav,
  .mat-drawer-content,
  :host ::ng-deep .mat-drawer-backdrop {
    top: 56px;
  }
}

@mixin theme-mixin($light-theme: true) {
  $brand: $primary-color;
  $font: $primary-font-color;
  $bg-color: $body-background;
  $bg-color-light: $primary-background-lighter;
  $scroll-color: rgba(0, 0, 0, 0.2);
  $slick-color: $slick-color;
  $slick-dots: $slick-dots;
  $border: $header-border;
  $shadow: $ticker-shadow;
  @if $light-theme != true {
    $brand: $primary-color;
    $font: $dark-primary-font-color;
    $bg-color: $dark-body-background;
    $bg-color-light: $dark-secondary-background;
    $scroll-color: rgb(212 212 212 / 20%);
    $slick-color: $dark-slick-color;
    $slick-dots: $dark-slick-dots;
    $border: $dark-header-border;
    $shadow: $dark-primary-shadow;
  }

  background-color: $bg-color !important;

  .mat-drawer-container {
    background-color: $bg-color !important;
    color: $font;
    position: unset;
  }

  .mat-drawer-content {
    background-color: $bg-color !important;
  }
  ::ng-deep .slick-next::before {
    color: $slick-color !important;
  }

  ::ng-deep .slick-prev::before {
    color: $slick-color !important;
  }

  ::ng-deep .slick-dots li button::before {
    color: $slick-dots !important;
  }

  .scrollToTopButton {
    position: absolute;
    border-radius: 30% !important;
    bottom: 25px;
    right: 55px;
    background-color: $brand !important;
    font-size: 1.55rem;
  }

  ::ng-deep .mat-drawer-side.mat-drawer-end {
    border-left: 1px solid #80808014;
    border-right: none;
    background: lighten($bg-color, 3%);
  }

  .mat-drawer.mat-drawer-side {
    z-index: 2;
  }

  ::ng-deep .scroll-box::-webkit-scrollbar {
    width: 0.5em;
    &:hover {
      width: 0.6em;
    }
  }
  ::ng-deep .scroll-box::-webkit-scrollbar,
  .scroll-box::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 0px;
    background-color: #5d5d5d33;
  }
  ::ng-deep .scroll-box::-webkit-scrollbar-thumb {
    background: $scroll-color;
  }
  .widgets-container {
    height: calc(100vh - 75px);
    position: sticky !important;
    top: 75px;
    padding: 30px 25px;
    border-left: 1px solid $border;
    z-index: 2;
    background-color: $bg-color-light;
  }
  .backdrop {
    z-index: 2;
    backdrop-filter: brightness(0.85) blur(5px);
  }
  .mat-drawer:not(.mat-drawer-side) {
    box-shadow: -2px 0px 7px 0px #1d1d1d0f !important;
  }
  .ticker-container {
    background: $bg-color-light;
    color: $font;
    // padding: 4px 0px;
    height: 40px;
    position: sticky;
    top: 75px;
    box-shadow: 0px 2px 5px $shadow;
    border-bottom: 1px solid $border;
    z-index: 4;
    // font-family: "DotGothic16", sans-serif;
    button {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      font-size: 1.1rem;
      opacity: 0.7;
      transition: 0.2s ease-in-out;
      & :hover {
        opacity: 1;
      }
    }
  }
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}

.theme-container {
  @include theme-mixin($light-theme: true);
}
