<div [ngClass.gt-lg]="'px-5'" class="mx-5 py-3">
  <div fxFlexFill fxLayout="column" fxLayoutGap="28px">
    <app-market-cap
      [theme]="theme"
      [globalData]="globalData"
      [globalMetrics]="globalMetrics"
      [tradingSignals]="tradingSignals"
    ></app-market-cap>
    <app-trending-news [theme]="theme"></app-trending-news>
    <div class="text-start w-100">
      <!-- <div [ngClass.gt-lg]="'px-5'" class="mb-3 mx-5"> -->
      <div class="mb-3">
        <div fxLayout="row" fxLayoutGap="6px">
          <h5 class="mb-0">
            <fa-icon [icon]="['fab', 'hotjar']" class="hot"></fa-icon>
          </h5>
          <div fxLayout="column">
            <h5 class="fw-bold mb-0">
              Top Gainers
            </h5>
            <small class="fw-bold text-faint">Coins with the highest percentage gains</small>
          </div>
        </div>
      </div>
      <app-top-gainers
        (coin)="setSelectedCoin($event)"
        (showCoinDetails)="displayCoin($event)"
        [theme]="theme"
        [coins]="topGainerCoins"
      ></app-top-gainers>
    </div>
    <div class="w-100 text-start">
      <!-- <div [ngClass.gt-lg]="'px-5'" class="mb-3 mx-5"> -->
      <div class="mb-3">
        <div fxLayout="row" fxLayoutGap="6px">
          <h5 class="mb-0">
            <fa-icon [icon]="['fas', 'icicles']" class="cold"></fa-icon>
          </h5>
          <div fxLayout="column">
            <h5 class="fw-bold mb-0">
              Top Losers
            </h5>
            <small class="fw-bold text-faint">Coins with the highest percentage losses</small>
          </div>
        </div>
      </div>
      <app-top-losers
        (coin)="setSelectedCoin($event)"
        (showCoinDetails)="displayCoin($event)"
        [theme]="theme"
        [coins]="topGainerCoins"
      ></app-top-losers>
    </div>
    <div class="text-start">
      <div class="mb-3">
        <div fxLayout="row" fxLayoutGap="6px">
          <h5 class="mb-0">
            <fa-icon [icon]="['fas', 'award']" class="award"></fa-icon>
          </h5>
          <div fxLayout="column">
            <h5 class="fw-bold mb-0">
              Top Coins
            </h5>
            <small class="fw-bold text-faint">Top 10 coins based on market cap</small>
          </div>
        </div>
    </div>
    <div [ngClass.gt-lg]="'coin-table-container-lg'" [ngClass]="'coin-table-container-sm'">
      <app-coin-table
      (addFavOutput)="addFavorite($event)"
      (removeFavOutput)="removeFavorite($event)"
      [loading]="isLoading"
      [fullView]="false"
      [coins]="coins"
      [theme]="theme"
      [count]="10"></app-coin-table>
    </div>
    <div>
  </div>
    </div>
  </div>
</div>
