<div [ngClass.gt-lg]="'px-5'" class="mx-5 py-4">
  <div [ngClass]="{'hide-content': bottomSheet}" fxFlexFill fxLayout="column" fxLayoutGap="20px">
    <app-market-cap
      [theme]="theme"
      [globalData]="globalData"
      [globalMetrics]="globalMetrics"
      [tradingSignals]="tradingSignals"
    ></app-market-cap>
    <!-- <app-news-tiles [theme]="theme"></app-news-tiles> -->
    <app-trending-news [theme]="theme"></app-trending-news>
    <!-- <app-news-list
      fxHide.gt-sm
      [title]="'trending news'"
      [description]="'Hottest news over the last day'"
      [start]="0"
      [end]="4"
      [use_api]="true"
      [theme]="theme"
    ></app-news-list> -->
    <div class="text-start w-100">
      <div class="mb-3">
        <div fxLayout="row" fxLayoutGap="6px">
          <h5 class="mb-0">
            <fa-icon [icon]="['fab', 'hotjar']" class="hot"></fa-icon>
          </h5>
          <div fxLayout="column">
            <h5 class="fw-bold mb-0">
              Top Gainers
            </h5>
            <small class="fw-bold text-faint">Coins with the highest percentage gains</small>
          </div>
        </div>
      </div>
      <app-top-gainers
        (coin)="setSelectedCoin($event)"
        (showCoinDetails)="displayCoin($event)"
        [theme]="theme"
        [coins]="topGainerCoins"
      ></app-top-gainers>
    </div>
    <div class="w-100 text-start">
      <div class="mb-3">
        <div fxLayout="row" fxLayoutGap="6px">
          <h5 class="mb-0">
            <fa-icon [icon]="['fas', 'icicles']" class="cold"></fa-icon>
          </h5>
          <div fxLayout="column">
            <h5 class="fw-bold mb-0">
              Top Losers
            </h5>
            <small class="fw-bold text-faint">Coins with the highest percentage losses</small>
          </div>
        </div>
      </div>
      <app-top-losers
        (coin)="setSelectedCoin($event)"
        (showCoinDetails)="displayCoin($event)"
        [theme]="theme"
        [coins]="topGainerCoins"
      ></app-top-losers>
    </div>
    <div class="text-start">
      <div class="mb-3">
        <div fxLayout="row" fxLayoutGap="6px">
          <h5 class="mb-0">
            <fa-icon [icon]="['fas', 'award']" class="award"></fa-icon>
          </h5>
          <div fxLayout="column">
            <h5 class="fw-bold mb-0">
              Top Coins
            </h5>
            <small class="fw-bold text-faint">Top 10 coins based on market cap</small>
          </div>
        </div>
      </div>
      <app-coins-lists
        [loading]="isLoading"
        [Coins]="coins"
        [theme]="theme"
        [user]="user"
        [count]="10"
        (coin)="setSelectedCoin($event)"
        (showCoinDetails)="displayCoin($event)"
        (addFavOutput)="addFavorite($event)"
        (removeFavOutput)="removeFavorite($event)"
      ></app-coins-lists>
    </div>
  </div>
</div>
<div>
  <app-bottom-sheet-custom></app-bottom-sheet-custom>
</div>
